div{
    padding-top: 10%;
    width: 1000px;
    height: 500px;
    background-color: rgb(165, 82, 248);
    color: rgb(69, 233, 60);
    margin: auto;
    text-align: center;
    list-style-position: inside;
}
img{
    display:block;
    margin:0px auto;
}
a{
    color:rgb(0, 195, 255);

}