.container1 {
    padding: 0px;
    background-image: url(../image/Bg\ Shape@2x.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 800px;
}

.top{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;

}

.marketing{

    justify-content: center;
}

.marketing a{
    font-size: 50px;
    padding: 15px;
    align-items: center;
    text-align: center;
}


.topright{

    display: flex;
    justify-content: space-between;
}

.topright a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.topright a:hover{
    text-decoration: underline;
    color: black;
}

.box1 {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bar {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.bar img{
    padding: 10px;
    
}

.line {
    height: 40px;
    border-left: 4px solid blue;
}


.text1{

    height: 450px;
}

.text1 h2{
    font-size: 30px;
    margin: 0;
}

.text1 h1{
    font-size: 50px;
    margin: 0;
}

.button{
    margin-top: 20px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 50px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#mouse {
    padding: 30px;
    align-self: flex-end;
    height: 15px;
    background-image: url(../image/mouse@2x.png);
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 50%;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pic1{
    padding: 20px;
}

.container2{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.pic2{
    padding-right: 80px;
}

.text2{
    padding: 30px;
}

.text2 a{
    color: cornflowerblue;
}
.text2 h1{
    font-size: 50px;
}

.text2 p{
    font-size: 18px;
}
.container3{
    padding: 30px;
}

.text3{
    padding: 20px;
    text-align: left;
    padding-left: 180px;
    
}

.text3 h3{
    color: cornflowerblue;
}

.text3 h1{
    font-size: 50px;
    margin-bottom: 5px;
}

.box2{
    background-image: url(../image/who\ we\ are\ background@2x.png);
    padding: 30px;
    display: flex;
    justify-content:space-evenly ;

}

.one{
    border: solid green 3px;
    padding: 30px;
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

.one h4,.one p{
    text-align: left;
}

.button2{
    margin-top: 130px;
    margin-left: 90px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 170px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.two{
    border: solid green 3px;
    padding: 30px;
    text-align: left;
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

.two h4,.two p{
    text-align: left;
}

.button3{
    margin-top: 110px;
    margin-left: 90px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 170px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.three{
    border: solid green 3px;
    padding: 30px;
    text-align: left;
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

.three h4,.three p{
    text-align: left;
}


.button4{
    margin-top: 90px;
    margin-left: 90px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 170px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box3{
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content:space-evenly ;
    background-image: url(../image/who\ we\ are\ background@2x.png);

}

.four{
    border: solid green 3px;
    padding: 30px;
    text-align: left;
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

.four h4,.four p{
    text-align: left;
}


.button5{
    margin-top: 100px;
    margin-left: 90px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 170px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.five{
    border: solid green 3px;
    padding: 30px;
    text-align: left;
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

.five h4,.five p{
    text-align: left;
}

.button6{
    margin-top: -10px;
    margin-left: 90px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 170px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.six{
    border: solid green 3px;
    padding: 30px;
    text-align: left;
    width: 250px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    text-align: center;
    background-color:white;
}

.six h4,.six p{
    text-align: left;
}


.button7{
    margin-top: 60px;
    margin-left: 90px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 170px;
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container4{
    padding: 30px;
    background-color: rgb(210, 213, 239);

}

.text4{
    padding: 20px;
    text-align: center;
    padding-bottom: 0px;
}

.text4 a{
    color: cornflowerblue;
}

.text4 h1{
    font-size: 50px;
    margin-top: 10px;
}

.box4{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
}
.box4 h2{
    color: blue;
}
.package1{
    border: solid green 3px;
    padding: 30px;
    text-align: center;
    left: 120px;
    height: 280px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    background-color: white;
}

.package2{
    border: solid green 3px;
    padding: 30px;
    border: solid green 3px;
    padding: 30px;
    text-align: center;
    left: 120px;
    height: 280px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    background-color: white;
}
.package3{
    border: solid green 3px;
    padding: 30px;
    border: solid green 3px;
    padding: 30px;
    text-align: center;
    left: 120px;
    height: 280px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40px;
    background-color: white;
}

.button8{
    margin-top: 50px;
    margin-left: 60px;
    border: solid lightskyblue;
    border-radius:20px ;
    background-color: white;
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.button9{
    margin-top: 50px;
    margin-left: 60px;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.dian {
    text-align: center;
    padding: 10px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.dot1 {
    margin-top: 5px;
    height: 15px;
    width: 15px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.footer{
    border:  solid yellow 3px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h3{
    color: cornflowerblue;
}

.footer p {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer p span {
    font-weight: 1000;
}

.footer form input[type=text] {
    margin-top: 0px;
    font-weight: 400;
    width: 350px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    background-color:rgb(225, 225, 225);
    padding: 7px 15px;
}

.footer form input[type=submit] {
    height: 35px;
    border: solid blue;
    border-radius: 30px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.text5{
    padding: 30px;
}

.box5{
    border: solid green 3px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.logo{
    border: solid lightblue 3px;
    padding:  30px;
}

.links{
    border: solid lightblue 3px;
    padding:  30px;
}

.time{
    border: solid lightblue 3px;
    padding:  30px;
}

.contact{
    border: solid lightblue 3px;
    padding:  30px;
}