body, html{
    height: 100%;
    margin: 0;
}
.container{
    max-width: 1920px;
    max-height: 1080px;
    position: relative;
    height: 100%;
    background-position: center;
    background-image: url(../image/forest1.jpg);
    background-size: cover;
}
.logo{
    display: flex;
}
.rightbar{
    display: flex;
    margin-left: 50%;
}
.header a{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(57, 191, 244);
    text-decoration: underline;
}
.header{

    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.box1{
    position: absolute;
    top: 200px;
    left: 680px;
}
.box2{
    display: flex;
    justify-content:space-between;
    
}
.travel{
    display: flex;
    position: absolute;
    right: 120px;
    width: 200px;
}
.world{
    display: flex;
    position: absolute;
    left: 170px;
    width: 200px;
}
.box3{
    position: absolute;
    right: 70px;
    bottom: 40px;
    padding: 3vh 3vw;
    border: 2px white dotted;
    border-radius: 10%;
}
.leftbottom{
    display: flex;
    position:absolute;
    left: 10px;
    bottom: 40px;
    color: white;
    font-size: 120%;
}
h3{
    color: white;
}
.box3 h3{
    color: red;
}
.box3 p{
    font-size: 120%;
    color: aliceblue;
}
h1{
    font-size: 300%;
    color: rgb(0, 0, 0);
}
