.item1 { grid-area: logo; }
.item2 { grid-area: menu; }
.item3 { grid-area: ImageSLIDESHOW; }
.item4 { grid-area: feat1; }
.item5 { grid-area: feat2; }
.item6 { grid-area: feat3; }
.item7 { grid-area: slidebar; }
.item8 { grid-area: textcontent; }
.item9 { grid-area: footer; }

.item3,.item7{
  height:150px;
  
}
.item8{
  margin-left: 50px;
}

.item4,.item5,.item6{
  height: 75px;
}

.item9{
  height: 65px;
}
.grid-container {
  display: grid;
  grid-template-areas:
  'logo  menu menu'
  'ImageSLIDESHOW ImageSLIDESHOW ImageSLIDESHOW'
  'ImageSLIDESHOW ImageSLIDESHOW ImageSLIDESHOW'
  'feat1 feat2 feat3'
  'slidebar textcontent textcontent'
  'footer footer footer';
  gap: 10px;
  background-color: #2e3439;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}